/*media queries*/

@media (max-width: 280px) {
  body {
    font-size: 0.8em;
  }

  nav input {
    width: 100px;
  }
}

@media (min-width: 281px) and (max-width: 320px) {
  body {
    font-size: 0.8em;
  }

  nav input {
    width: 130px;
  }
}

@media (min-width: 540px) and (max-width: 610px) {
  .card {
    box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 2px 16px;
    margin: 20px 0;
    max-width: 520px;
    max-height: 466px;
  }
  nav {
    display: flex;
    margin: auto;
    width: 90%;
    padding: 20px;
    align-items: center;
    max-width: 90%;
  }

  nav form {
    margin-left: auto;
  }
}

@media (min-width: 611px) and (max-width: 1024px) {
  #container-posts {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
  }

  #container-posts h2 {
    display: none;
  }
  nav {
    display: flex;
    margin: auto;
    width: 90%;
    padding: 20px;
    align-items: center;
    max-width: 90%;
  }

  nav form {
    margin-left: auto;
  }
}

@media (min-width: 1025px) {
  #container-posts {
    display: grid;
    grid-template-columns: 33% 33% 34%;
    gap: 10px;
  }

  #container-posts h2 {
    display: none;
  }

  nav {
    display: flex;
    margin: auto;
    width: 90%;
    padding: 20px;
    align-items: center;
    max-width: 90%;
  }

  nav form {
    margin-left: auto;
  }
}
